<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Введення даних</title>
</head>
<body>
    <div>
    <h1>Введіть свої дані</h1>

    <form method="post">
        {% csrf_token %}

        <label for="name">Ім'я:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="text">Text</label>
        <input type="text" id="text" name="text">

        <button type="submit">Відправити</button>
    </form>
    </div>
    <div>
        <button> <a href="{% url 'display' %}"> Показати дані</a></button>
    </div>
</body>
</html>
